ENV=development

SERVER_PORT=3000;

MYSQL_HOST=mysql
MYSQL_PASSWORD=mysql
MYSQL_ROOT_PASSWORD=mysql
MYSQL_DATABASE=chat_db
MYSQL_PORT=3306

REDIS_HOST=redis
REDIS_PORT=6379

DATABASE_URL="mysql://root:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}"